/* CLASSES */
#history h3 {
    color: var(--light-red);
}

.permanent-delete-btn {
    width: auto;
    text-transform: uppercase;
    padding: 1em;
    margin: 1em;
    font-weight: 700;
    background-color: var(--background-color-content-dark);
}

.permanent-delete-btn:hover {
    color: var(--light-red);
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: var(--light-white);
    color: var(--background-color-content-dark);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    max-width: 100%;
}

.todo li {
    flex: 1;
}

.todo button {
    background: var(--background-color-content-dark);
}

.complete-btn:hover {
    background-color: var(--complete-green);
    color: var(--background-color-content-dark);
}

.progress-btn:hover {
    color: var(--progress-orange);
}

.blocked-btn:hover {
    color: var(--light-red);
}

.trash-btn:hover {
    color: var(--light-red);
}

.todo-item {
    padding: 0rem 0.5rem;
    min-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(200px + 50vw);

}

.fa-trash,
.fa-check,
.fa-play,
.fa-ban {
    pointer-events: none;
}

.in-progress {
    background-color: var(--progress-orange-dark);
}

.blocked {
    color: var(--light-red);
    background-color: var(--super-light-red);
    opacity: 0.8;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
    transition-duration: 0.5s;
}

.blink-red {
    animation-name: blinkRed;
    animation-duration: 0.35s;
    animation-iteration-count: 1;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

#loader-icon i {
    position: relative;
    max-width: 3rem;
    max-height: 3rem;
    padding: 0.5rem;
    -webkit-filter: invert(1);
    filter: invert(1);
    animation: myOrbit 3s infinite cubic-bezier(.74, -0.53, .21, 1.35);
}

@keyframes myOrbit {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blinkRed {
    0% {
        background-color: var(--light-white);
    }

    30% {
        background-color: var(--light-red);
    }

    100% {
        background-color: var(--light-white);
    }
}